.container {
  max-width: 575.98px;
  text-align: center;
}

.input-group {
  margin-bottom:5px;
}

input {
  margin-right: 5px;
}

h1 {
  margin-top: 20px;
}

span {
  color: gray;
  font-size: 80%;
}

a {
  color: gray;
}

#update-history {
  text-align: left;
  color: gray;
  font-size: 75%;
}

.table-responsive {
  min-height: 200px;
}